<div class="container-fluid">
    <div class="jumbotron">
        <h1>Card Inventory Webapp</h1>
        <p>Your top source for filler text since I don't know what this will say yet!</p>
    </div>
</div>